* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#trix-toolbar-1 .trix-button-row {
  flex-wrap: wrap;
}

.form-item-wrapper {
  display: flex;
  flex-direction: column;
}

.form-rich_item-wrapper {
}

.form-button {
  padding: 0.3rem 1rem;
  border: none;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #dfdfdf;
}

.form-button:hover {
  border-radius: 0.2rem;
}

.form-button.delete:hover {
  background-color: #c24b4b;
  color: white;
}
